  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Work Sans', sans-serif;
  }

  /* =======common part======= */
  /* .section-width {
    max-width: 80%;
    margin: 0 auto;
  } */


  .btn-orange {
    background-color: #FF42A5;
  }

  .btn-blue {
    background: #4EC5F7;
  }

  .btn-blue,
  .btn-orange {
    border-radius: 25px;
    padding: 12px 25px;
    border: none;
    font-size: .9em;
    text-transform: uppercase;
    color: #fff;
    margin: 15px 10px 0px 0px;
  }

  /* =========navbar part start=========== */

  .nav-section {
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  }

  .nav-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
  }

  .nav-logo-item {
    display: flex;
    align-items: center;

  }

  .nav-logo-item .nav-logo {
    width: 85px;
    height: 40px;
    object-fit: cover;
  }

  .nav-title {
    text-align: center;
    font-size: 2.4em;
    font-weight: 700;
    margin-left: .5em;
  }

  .nav-title span {
    color: #FF42A5;
  }

  .menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menus .latest-item {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15),
      inset 0px 4px 8px rgba(0, 0, 0, 0.15),
      inset 0px 8px 16px rgba(0, 0, 0, 0.15);
    padding: 8px 10px;
    border-radius: 8px;
  }

  .menus li span {
    margin-left: 10px;
  }

  .menus li span i {
    font-size: 16px;
    color: red;
  }

  .menus li span .tiktok {
    color: rgb(238, 29, 81);
  }

  .menus li {
    list-style: none;
    margin-left: 2em;
  }

  .menus li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 16px;
    font-weight: 500;
  }

  /* ===========navbar ends======== */

  /* ===========banner section starts========== */
  .banner-section {
    /* margin: 40px 0px; */
    background-image: url(../images/Group\ 14.png), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-position: top left;
    background-size: 50%;
    background-repeat: no-repeat;
    height: 100%;
    padding: 50px 0px;
  }

  .banner-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner-text {
    width: 50%;
    /* background-image: url(../images/Group\ 14.png), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; */
  }

  .banner-title {
    color: #0B0223;
    font-size: 2.5em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .banner-text span {
    margin-right: 10px;
  }

  .goat-text {
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .banner-paragraph {
    margin: 12px 0px;
    color: #534C64;
    font-size: .9em;
    font-weight: 500;
  }

  .banner-img {
    width: 50%;
  }

  .banner-img img {
    width: 100%;
    height: 100%;
  }





  /* =========online section start=========== */
  .section-container {
    max-width: 80%;
    margin: 4em auto;
  }



  .online-container {
    text-align: center;
    margin-bottom: 4em;
  }

  .section-title {
    color: #0B0223;
    font-size: 42px;
    font-weight: 700;
  }

  .section-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-description {
    color: #534C64;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 10px 0px;
  }

  .online-card-container {
    width: 100%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto; */
    grid-gap: 1em;
  }

  .single-card {
    margin-top: 20px;
    width: 100%;
  }

  .card-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .card-text {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 5px;
  }

  /*  ========= bonus part =========*/
  .overlay-img-container {
    max-width: 100%;
    position: relative;
  }

  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 0;
    right: 0; */
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #F948B2;
    border-radius: 7px;
  }

  .overlay-icon {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
  }

  .overlay-icon p {
    font-size: 14px;
    font-weight: 600;
    color: #FF42A5;
    margin-top: 10px;

  }


  /* =============play section start========== */

  .play-container {
    display: flex;
    /* flex-basis: 600px; */
    justify-content: space-between;
    align-items: center;
    gap: 140px;
    padding: 20px 0px;
  }

  .play-img {
    width: 50%;
    object-fit: cover;
    position: relative;
  }

  .play-img .big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .play-img .small-img {
    object-fit: cover;
    width: 200px;
    height: 220px;
    position: absolute;
    left: -85px;
    bottom: -50px;
  }

  .play-text {
    width: 50%;
    text-align: right;
  }

  .play-title {
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.5em;
  }

  .play-title span {
    color: #F948B2;
  }

  .play-description {
    width: 80%;
    margin-left: auto;
    margin-top: 1em;
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }

  /* ============== Online games catagory section================ */

  .online-games {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
  }

  .game-catagory-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .game-catagory-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .games-catagory {
    /* width: 80%; */
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin: 20px 0px;
    margin-right: 10px;
    padding: 5px;
    transition: .5s ease;
  }

  .games-catagory:hover {
    border: 2px solid #F948B2;
    color: #FF42A5;
    border-radius: 35px;
    transition: .5s ease;
  }

  .games-catagory:hover>.game-title {
    color: #F948B2;
  }

  .game-img {
    width: 50px;
    height: 50px;
  }

  .game-title {
    color: #0B0223;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
  }

  /* ===========footer part=========== */
  footer {
    background: #0B0223;
    padding: 60px 0px;
    padding-bottom: 70px;
  }

  .footer-container {
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }

  /* .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .footer-title,
  .footer-description,
  .footer-icon,
  .footer-details {
    max-width: 70%;
    margin: 20px auto;
    /* border: 2px solid red; */
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-description span {
    padding: 0px 15px;
  }

  .footer-title,
  .footer-description,
  .footer-icon span {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 15px;
  }

  .footer-icon span i {
    font-size: 24px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    /* color: green; */
  }

  .footer-icon .facebook {
    color: #3b5998;
    background-color: #fff;
    text-align: center;
  }

  .footer-icon .youtube {
    color: red;
    background-color: #fff;
  }

  .footer-details span {
    font-size: 12px;
    font-weight: 500;
    padding: 10px 15px;

  }

  .footer-details,
  .copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }



  /* ============== Responsive CSS ================== */


  /*=======mobile device=========  */
  @media screen and (max-width: 430px) {

    .nav-container,
    .menus {
      flex-direction: column;
    }

    .nav-container {
      max-width: 100%;
    }

    .menus li {
      margin: 1.4em 0em;
    }

    .banner-container {
      flex-direction: column-reverse;
      max-width: 100%;
      /* margin: inherit 0px; */
    }

    .banner-img {
      width: 80%;
      margin: 20px auto;
    }

    .banner-img img {
      width: 100%;
    }

    .banner-text {
      width: 65%;
      margin: 40px auto;
      /* margin-left: 130px; */
    }

    .banner-title {
      font-size: 33px;
    }

    .goat-text {
      font-size: 63px;
    }

    .banner-paragraph {
      /* padding-left: 10px; */
      width: 90%;
      font-size: 14px;
    }

    .btn-container {
      display: inline-block;
    }



    .section-container {
      max-width: 70%;
      margin: 3em auto;

    }

    /* online part */
    .online-card-container {
      grid-template-columns: 1fr;
    }

    .section-title {
      font-size: 1.35em;
    }

    .section-description {
      font-size: .6em;
      /* font-size: .7em; */
    }

    /* play section */
    .play-container {
      flex-direction: column;
      text-align: center;
      width: 100%;
      gap: 30px;
    }

    .play-text,
    .play-description {
      text-align: center;
      width: 100%;
    }

    .play-title {
      font-size: 2em;
    }

    .play-description {
      font-size: .75em;
      line-height: 2em;
    }

    .play-img {
      width: 85%;
    }

    .play-img .big-img {
      width: 100%;
    }

    .play-img .small-img {
      width: 140px;
      height: 160px;
      left: -60px;
    }

    /* online games catagory */
    .online-games {
      width: 100%;
    }

    .game-4,
    .game-5,
    .game-9 {
      display: none;
    }

    .games-catagory .game-img {
      width: 35px;
      height: 35px;
    }

    .games-catagory .game-title {
      font-size: 8px;
      font-weight: 400;
      padding-left: 5px;
    }

    .game-catagory-two {
      gap: 0;
    }

    /* footer added */
    .footer-description {
      flex-wrap: wrap;
      width: 100%;
      padding: 10px;
      margin: 0 auto;
    }

    .footer-description span {
      padding: 0px;
      font-size: 12px;
      margin: 8px;
    }

  }



/* ========= Medium Device responsive ===========*/


  @media screen and (min-width: 430px) and (max-width: 576px) {

    .nav-container,
    .menus {
      flex-direction: column;
    }

    .nav-container {
      max-width: 100%;
    }

    .menus li {
      margin: 1.4em 0em;
    }

    .banner-container {
      flex-direction: column-reverse;
      max-width: 100%;
      /* margin: inherit 0px; */
    }

    .banner-img {
      width: 80%;
      margin: 20px auto;
    }

    .banner-img img {
      width: 100%;
    }

    .banner-text {
      width: 50%;
      margin: 40px auto;
      /* margin-left: 130px; */
    }

    .banner-title {
      font-size: 33px;
    }

    .goat-text {
      font-size: 63px;
    }

    .banner-paragraph {
      /* padding-left: 10px; */
      width: 90%;
      font-size: 14px;
    }

    .btn-container {
      display: inline-block;
    }



    .section-container {
      max-width: 70%;
      margin: 3em auto;

    }

    /* online part */
    .online-card-container {
      grid-template-columns: 1fr;
    }

    .section-title {
      font-size: 1.35em;
    }

    .section-description {
      font-size: .6em;
      /* font-size: .7em; */
    }

    /* play section */
    .play-container {
      flex-direction: column;
      text-align: center;
      width: 100%;
      gap: 30px;
    }

    .play-text,
    .play-description {
      text-align: center;
      width: 100%;
    }

    .play-title {
      font-size: 2em;
    }

    .play-description {
      font-size: .75em;
      line-height: 2em;
    }

    .play-img {
      width: 85%;
    }

    .play-img .big-img {
      width: 100%;
    }

    .play-img .small-img {
      width: 140px;
      height: 160px;
      left: -60px;
    }

    /* online games catagory */
    .online-games {
      width: 100%;
    }

    .game-4,
    .game-5,
    .game-9 {
      display: none;
    }

    .games-catagory .game-img {
      width: 35px;
      height: 35px;
    }

    .games-catagory .game-title {
      font-size: 8px;
      font-weight: 400;
      padding-left: 5px;
    }

    .game-catagory-two {
      gap: 0;
    }

    /* footer added */
    .footer-description {
      flex-wrap: wrap;
      width: 100%;
      padding: 10px;
      margin: 0 auto;
    }

    .footer-description span {
      padding: 0px;
      font-size: 12px;
      margin: 8px;
    }
  }

  /* for medium device */
  @media screen and (min-width: 576px) and (max-width: 960px){
    .nav-container{
      flex-direction: column;
      gap: 30px;
    }
    .online-card-container{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
    .banner-title{
      font-size: 35px;
    }
    .goat-text{
      font-size: 70px;
    }

    .game-4,
    .game-5,
    .game-9 {
      display: none;
    }

    .play-container{
      width: 100%;
    }
    .play-img,
    .play-text{
      width: 50%;
    }
    .play-title{
      font-size: 28px;
    }
    .play-description{
      font-size: 13px;
      width: 100%;
    }
    .play-img .small-img{
      width: 150px;
      height: 170px;
      object-fit: cover;
      bottom: -70px;
    }
    .footer-container{
      max-width: 100%;
      margin: 0 auto;
    }
    .footer-description{
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }